* {
    font-family: 'Segoe UI', 'sans-serif';
    font-size: 1.6rem;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.outter-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #000000;
    place-content: center;
}

.container {
    display: flex; 
    flex-direction: column;  
    color: #e4e4e4; 
    width: 600px; 
    justify-content: center; 
    align-items: center;
    padding: 16px;
    border-radius: 12px;
}

.number-display {
    height: 150px;
    width: 70%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 16px;
    font-size: 4rem;
}

.buttons {
    padding: 10px;
    user-select: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
}

.buttons > div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100px; 
    height: 100px; 
    border-radius: 100%; 
    background-color: #343434;
    cursor: pointer;
    font-weight: bolder;
}

.buttons > .large-button {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex; 
    justify-content: start;
    align-items: center; 
    width: 220px; 
    height: 100px; 
    border-radius: 60px; 
    background-color: #333634;
    font-weight: bolder;
}

.buttons > .large-button > span {
    padding-left: 40px;
}

.buttons > .action-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100px; 
    height: 100px; 
    border-radius: 60px; 
    background-color: #ff9601;
    font-weight: bolder;
}

.buttons > .gray-button {
    background-color: #a7a6a7;
    color: #141414;
}

.action-button-active {
    background-color: #e4e4e4 !important;
    color: #ff9601;
}

@media (max-width: 650px) {
    * {
        font-size: 1.4rem;
    }

    .buttons {
        gap: 12px;
    }

    .buttons > div {
        width: 70px; 
        height: 70px; 
    }

    .buttons > .large-button {
        width: 155px; 
        height: 70px; 
    }

    .buttons > .action-button {
        width: 70px; 
        height: 70px; 
    }

    .buttons > .large-button > span {
        padding-left: 30px;
    }

    .number-display {
        height: 150px;
        width: 300px;
    }
    
}

@media (max-width: 372px) {
    * {
        font-size: 1.3rem;
    }

    .buttons {
        gap: 10px;
    }

    .buttons > div {
        width: 58px; 
        height: 58px; 
    }

    .buttons > .large-button {
        width: 128px; 
        height: 58px; 
    }

    .buttons > .action-button {
        width: 58px; 
        height: 58px; 
    }

    .number-display {
        height: 150px;
        width: 252px;
    }
    
}